{% if q is not empty %}
	{{ q }}
{% endif %}

<div class="card-search-filter">
	{{ form.title }}
	<div class="types">
		{{ form.field_type_target_id }}
	</div>
	<div class="has-new-value alert border pb-0 pt-0">
		{{ form.field_has_new_value_value }}
	</div>
	<div class="occasionalism alert border pb-0 pt-0">
		{{ form.field_is_occasionalism_value }}
	</div>
	<div class="card">
		<div class="btn-dd-header pl-2 pr-0" id="marks">
			<a class="btn btn-link btn-sm d-flex justify-content-between align-items-center text-dark pr-1 pb-0" type="a" data-toggle="collapse" data-target="#collapseMarks" aria-expanded="false" aria-controls="collapseMarks">
				<span class="btn-dd-text">- Пометы -</span>
				<span class="btn-dd-shevron">
					<i class="fas fa-chevron-down"></i>
				</span>
			</a>
		</div>
		<div id="collapseMarks" class="collapse" aria-labelledby="marks">
			<div class="card-body card-body-scroll">
				<div class="accordion" id="marksAccordion">
					<div id="heading1 ml-0">
						<button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
							- Грамматические -
						</button>
					</div>
					<div id="collapse1" class="collapse ml-3 mt-0" aria-labelledby="heading1" data-parent="#marksAccordion">
						{{ form.field_grammar_mark_value_target_id }}
					</div>
					<div id="heading2 ml-0">
						<button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
							- Стилистические -
						</button>
					</div>
					<div id="collapse2" class="collapse ml-3 mt-0" aria-labelledby="heading2" data-parent="#marksAccordion">
						{{ form.field_stylistic_mark_value_target_id }}
					</div>
					<div id="heading3 ml-0">
						<button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
							- Экспрессивные -
						</button>
					</div>
					<div id="collapse3" class="collapse ml-3 mt-0" aria-labelledby="heading3" data-parent="#marksAccordion">
						{{ form.field_expressive_mark_value_target_id }}
					</div>
					<div id="heading4 ml-0">
						<button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
							- Функциональные -
						</button>
					</div>
					<div id="collapse4" class="collapse ml-3 mt-0" aria-labelledby="heading4" data-parent="#marksAccordion">
						{{ form.field_functional_mark_value_target_id }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mt-3">
		<div class="btn-dd-header pl-2 pr-0" id="yearPeriod">
			<a class="btn btn-link btn-sm d-flex justify-content-between align-items-center text-dark pr-1 pb-0" type="a" data-toggle="collapse" data-target="#collapseYear" aria-expanded="false" aria-controls="collapseYear">
				<span class="btn-dd-text">- Год -</span>
				<span class="btn-dd-shevron">
					<i class="fas fa-chevron-down"></i>
				</span>
			</a>
		</div>
		<div id="collapseYear" class="collapse" aria-labelledby="yearPeriod">
			<div class="card-body pb-0 pt-0 card-body-scroll">
				{{ form.field_year_target_id }}
			</div>
		</div>
	</div>
	<div class="card mt-3">
		<div class="btn-dd-header pl-1 pr-0" id="headingIdeorgaphic">
			<a class="btn btn-link btn-sm d-flex justify-content-between align-items-center text-dark pr-1 pb-0" type="a" data-toggle="collapse" data-target="#collapseIdeorgaphic" aria-expanded="false" aria-controls="collapseIdeorgaphic">
				<span class="btn-dd-text">- Тема -</span>
				<span class="btn-dd-shevron">
					<i class="fas fa-chevron-down"></i>
				</span>
			</a>
		</div>
		<div id="collapseIdeorgaphic" class="collapse" aria-labelledby="headingIdeorgaphic">
			<div class="card-body pb-0 pt-0 card-body-scroll">
				{{ form.field_ideographic_terms_target_id }}
			</div>
		</div>
	</div>
	{{ form.title_op }}
	{{ form.actions }}
</div>
