<div class="card entry-card entry-status{{node.isPublished()}}">
	<div class="card-header text-white">
		<h5 class="card-title">
			{% include 'ds-reset--node-entry-short-title.html.twig' %}
			<span class="header-definition">{{content.field_headword_grammar_items}}</span>
		</h5>
	</div>
	<div class="card-body">
		{{ content.field_senses }}
		{% if content.field_references.0 %}
			<hr class="common-references-divider">
			{{ content.field_references }}
		{% endif %}
	</div>
	<div class="card-footer">
		{{ content.field_year.0 }}
	</div>
	{{ content.content_moderation_control }}
</div>
