<div class="card entry-card entry-status{{node.isPublished()}}">
	<div class="card-header text-white">
		<h5 class="card-title">
			{% include 'ds-reset--node-entry-short-title.html.twig' %}
			<span class="header-definition">{{content.field_headword_grammar_items}}</span>
		</h5>
	</div>
	<div class="card-body">
		{{ content.field_senses }}
		{{ content.field_references }}
	</div>
	<div class="card-footer">
		{{ content.field_sort_title }}
		{{ content.field_year }}
	</div>
	{{ content.content_moderation_control }}
</div>
