<div class="sense">
	{% if content.field_index.0 %}
		<span class="sense-index">{{content.field_index.0}}{{'.'}}</span>
	{% endif %}
	{{content.field_items}}
	<div class="sense-references">{{content.field_references}}</div>
	{% if content.field_ideographic_terms | render %}
		<details class="ideographic-terms-details">
			<summary>Темы</summary>
			<p class="ideographic-terms">
				{{content.field_ideographic_terms}}
			</p>
		</details>
	{% endif %}
</div>
